<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.nvgtor.com.leanrning"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.viewPagerGallery.ViewPagerGalleryActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".login.view.LoginActivity"/>
        <activity android:name=".view.NumberRollingActivity"/>
        <activity android:name=".view.CustomActivity"/>
        <activity android:name=".view.PointAnimActivity"/>
        <activity android:name=".features.mNews.NewsVPIndicatorActivity"/>
        <activity android:name=".view.TestLifeOfActivity"/>
        <activity android:name=".view.HomeActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.threeD.rotate3dpic.Rotate3dActivity"/>
        <activity android:name=".view.threeD.threeDSliding.ThreeDSlidingActivity"/>

        <activity android:name=".features.mdbook.BookHomeActivity"
                  android:theme="@style/DrawerLayoutTheme"/>

        <activity android:name=".features.mdbook.BookDetailActivity"
                  android:theme="@style/DrawerLayoutTheme"/>

        <activity android:name=".features.mdbook.example.BottomTabActivity"
                  android:theme="@style/DrawerLayoutTheme"/>

        <activity android:name=".features.mNews.NewsDetailActivity"
                  android:theme="@style/DrawerLayoutTheme"/>

        <activity android:name=".customViews.roundImageView.RoundImgActivity"/>
        <activity android:name=".otherTest.GestureDetectorTest.GestureDetectorActivity"/>
    </application>

</manifest>