<?xml version="1.0" encoding="utf-8"?>
<manifest package="app.nvgtor.com.leanrning"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="app.nvgtor.com.leanrning.login.view.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".view.NumberRollingActivity"/>
        <activity android:name=".view.CustomActivity"/>
        <activity android:name=".view.PointAnimActivity"/>
        <activity android:name=".view.ViewPagerIndicatorActivity"/>
        <activity android:name=".view.TestLifeOfActivity"/>
        <activity android:name=".view.HomeActivity"
                  android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".view.threeD.rotate3dpic.Rotate3dActivity"/>
        <activity android:name=".view.threeD.threeDSliding.ThreeDSlidingActivity"/>
        <activity android:name=".view.viewPagerGallery.ViewPagerGalleryActivity"/>
    </application>

</manifest>